
<div class="container">

<h2>Carousel</h2>
<div style="height: 305px">
  <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
    <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
      <img ng-src="{{slide.image}}" style="margin:auto;">
      <div class="carousel-caption">
        <h4>Slide {{slide.id}}</h4>
        <p>{{slide.text}}</p>
      </div>
    </uib-slide>
  </uib-carousel>
</div>

<hr />

<h2>Tabs</h2>

<h3>Horizontal</h3>
<uib-tabset active="activeJustified">
  <uib-tab index="0" heading="Justified">Justified content</uib-tab>
  <uib-tab index="1" heading="SJ">Short Labeled Justified content</uib-tab>
  <uib-tab index="2" heading="Long Justified">Long Labeled Justified content</uib-tab>
</uib-tabset>

<h3>Horizontal Justified</h3>
<uib-tabset active="activeJustified" justified="true">
  <uib-tab index="0" heading="Justified">Justified content</uib-tab>
  <uib-tab index="1" heading="SJ">Short Labeled Justified content</uib-tab>
  <uib-tab index="2" heading="Long Justified">Long Labeled Justified content</uib-tab>
</uib-tabset>

<h3>Vertical</h3>
<uib-tabset active="activeJustified" vertical="true">
  <uib-tab index="0" heading="Justified">Justified content</uib-tab>
  <uib-tab index="1" heading="SJ">Short Labeled Justified content</uib-tab>
  <uib-tab index="2" heading="Long Justified">Long Labeled Justified content</uib-tab>
</uib-tabset>

<h3>Vertical Pills</h3>
<uib-tabset active="activeJustified" vertical="true" type="pills">
  <uib-tab index="0" heading="Justified">Justified content</uib-tab>
  <uib-tab index="1" heading="SJ">Short Labeled Justified content</uib-tab>
  <uib-tab index="2" heading="Long Justified">Long Labeled Justified content</uib-tab>
</uib-tabset>

<hr />

<h2>Extra Button Types</h2>

<h3>Single Toggle Button</h3>
<button type="button" class="btn btn-primary" ng-model="toggleButton" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Single Toggle</button>

<h3>Checkbox Buttons</h3>
<div class="btn-group">
    <label class="btn btn-primary" ng-model="checkModel.left" uib-btn-checkbox>Left</label>
    <label class="btn btn-primary" ng-model="checkModel.middle" uib-btn-checkbox>Middle</label>
    <label class="btn btn-primary" ng-model="checkModel.right" uib-btn-checkbox>Right</label>
</div>

<h3>Radio Buttons</h3>
<div class="btn-group">
    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Left'">Left</label>
    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Middle'">Middle</label>
    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Right'">Right</label>
</div>
<div class="btn-group">
    <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Left'" uncheckable>Left</label>
    <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Middle'" uncheckable>Middle</label>
    <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Right'" uib-uncheckable="uncheckable">Right</label>
</div>

<hr />


</div>

<br />
