<div class="container inexor-menu-container-centered">
  <div class="well">
    <p>Inexor is a fork of the open-source First-Person-Shooter Cube 2: Sauerbraten, a fast-paced shooting game featuring an ingame map editor.</p>
    <p>In contrast to Sauerbraten, Inexor adds a lot of functionality and strives to stay open to improvements and suggestions.</p>
    <p>The goal of this project is to be more flexible and create an environment where development is easy, fast and where creativity can prosper.</p>
  </div>
  <ul class="inexor-menu-list nav nav-tabs">
      <li class="inexor-menu-header"><a><span class="inexor-menu-item-text">About Inexor</span></a></li>
      <li class="inexor-menu-item" data-ui-sref="/menu/main"><a><span class="inexor-menu-item-text">... Back</span></a></li>
  </ul>
</div>
