<div class="container inexor-menu-container-centered">
  <ul class="inexor-menu-list nav nav-tabs">
      <li class="inexor-menu-header"><a><span class="inexor-menu-item-text">Options</span></a></li>
      <li class="inexor-menu-item" data-ui-sref="/menu/options/video"><a><span class="inexor-menu-item-text">Video Settings</span></a></li>
      <li class="inexor-menu-item" data-ui-sref="/menu/options/audio"><a><span class="inexor-menu-item-text">Audio Settings</span></a></li>
      <li class="inexor-menu-item" data-ng-click="toggleFullscreen()"><a><span class="inexor-menu-item-text">Toggle Fullscreen</span></a></li>
      <li class="inexor-menu-item" data-ui-sref="/menu/main"><a><span class="inexor-menu-item-text">... Back</span></a></li>
  </ul>
</div>
