<div class="container inexor-menu-container-centered">
  <ul class="inexor-menu-list nav nav-tabs">
      <li class="inexor-menu-item"><a data-ui-sref="/menu/options/video"><span class="inexor-menu-item-text">Video Settings</span></a></li>
      <li class="inexor-menu-item"><a data-ui-sref="/menu/options/audio"><span class="inexor-menu-item-text">Audio Settings</span></a></li>
      <li class="inexor-menu-item"><a data-ui-sref="/menu/main"><span class="inexor-menu-item-text">... Back</span></a></li>
  </ul>
</div>
