<div class="container inexor-menu-container-centered">
  <table class="table table-striped table-hover inexor-serverbrowser-table">
    <tr>
      <th>Name</th>
      <th>Mode</th>
      <th>Map</th>
      <th>Players</th>
      <th>Time</th>
      <th>Ping</th>
    </tr>
    <tr ng-repeat="server in ServerManager.getServers()" ng-click="connect(server.host, server.port)">
      <td>{{server.name}}</td>
      <td>{{server.mode}}</td>
      <td>{{server.map}}</td>
      <td>{{server.playerCount}}/{{server.maxPlayers}}</td>
      <td>{{server.timeLeft}}</td>
      <td>{{server.ping}}</td>
    </tr>
  </table>
</div>
