*.o
*.gch
/.idea
/.project
/.cproject
.*.sw*

packages
data
config
media
src/vcpp
src/xcode
src/rpggame
src/include
src/lib
src/lib64
src/enet
rpg.bat

doc/

eclipse
codeblocks
xcode

build*
bin*

Debug

node/node_modules/
