[submodule "inexor/platform"]
	path = platform
	url = https://github.com/inexor-game/platform.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
