[submodule "inexor/libraries/enet"]
	path = inexor/libraries/enet
	url = https://github.com/Theintercooler/enet.git
[submodule "inexor/platform"]
	path = inexor/platform
	url = https://github.com/inexor-game/platform_windows.git
[submodule "inexor/libraries/googletest"]
	path = inexor/libraries/googletest
	url = https://github.com/inexor-game/googletest.git
[submodule "inexor/libraries/muparser"]
	path = inexor/libraries/muparser
	url = https://github.com/inexor-game/muparser.git
[submodule "node/portable"]
	path = node/portable
	url = https://github.com/inexor-game/node_npm_portable.git
