a {
	color: #ffff88;
}

.consoleout {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    color: white;
    background: none;
    opacity: 1.0;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
}

.consoleout.active {
    height: 40%;
    background-color: black;
    opacity: 0.8;
    overflow-y: scroll;
}

.consolein {
	display: none;
}

.consolein.active {
    display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	color: white;
	background-color: black;
	opacity: 0.8;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}

#consolein-field {
    width: 100%;
    height: 40px;
    color: black;
    font-size: large;
    background-color: white;
    border: 2px solid #ffaaaa;
    opacity: 0.8;
    margin: 0px;
    padding: 0px;
}

.consolesidebar {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 250px;
	height: 100%;
	color: black;
	background-color: white;
	opacity: 0.5;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.consolesidebar a {
	color: black;
	text-decoration: none;
}