<!-- textarea class="form-control" rows="5">
</textarea -->
<div class="container">
  <h2>Keyboard Debugging</h2>

  <table class="table table-striped table-bordered table-hover">
	<tr>
	    <th></th>
	    <th>onKeyDown</th>
	    <th>onKeyPress</th>
	    <th>onKeyUp</th>
	</tr>
	<tr>
	    <td><strong>keyCode</strong></td>
	    <td><input type="text" size="3" ng-model="keydown_keycode" /></td>
	    <td><input type="text" size="3" ng-model="keypress_keycode" /></td>
	    <td><input type="text" size="3" ng-model="keyup_keycode" /></td>
	</tr>
	<tr>
	    <td><strong>charCode</strong></td>
	    <td><input type="text" size="3" ng-model="keydown_charcode" /></td>
	    <td><input type="text" size="3" ng-model="keypress_charcode" /></td>
	    <td><input type="text" size="3" ng-model="keyup_charcode" /></td>
	</tr>
	<tr>
	    <td><strong>which</strong></td>
	    <td><input type="text" size="3" ng-model="keydown_which" /></td>
	    <td><input type="text" size="3" ng-model="keypress_which" /></td>
	    <td><input type="text" size="3" ng-model="keyup_which" /></td>
	</tr>
  </table>
</div>
