<div class="container inexor-menu-container-centered">
  <ul class="inexor-menu-list nav nav-tabs">
      <li class="inexor-menu-header"><a><span class="inexor-menu-item-text">Inexor</span></a></li>
      <li class="inexor-menu-item" data-ui-sref="/menu/multiplayer"><a><span class="inexor-menu-item-text">Multiplayer</span></a></li>
      <li class="inexor-menu-item" data-ui-sref="/menu/botmatch"><a><span class="inexor-menu-item-text">Bot Match</span></a></li>
      <li class="inexor-menu-item" data-ui-sref="/menu/edit"><a><span class="inexor-menu-item-text">Coop Edit</span></a></li>
      <li class="inexor-menu-item" data-ui-sref="/menu/options"><a><span class="inexor-menu-item-text">Options</span></a></li>
      <li class="inexor-menu-item" data-ui-sref="/menu/about"><a><span class="inexor-menu-item-text">About</span></a></li>
      <li class="inexor-menu-item" data-ng-click="quit()"><a><span class="inexor-menu-item-text">Quit</span></a></li>
  </ul>
</div>

<!--
    <div class="well">
      Message: <input type="text" ng-model="message" />
      <br />
      <button type="button" class="btn btn-default" ng-click="changeText()"><i class="fa fa-pencil"></i> Change Text</button>
    </div>

    <hr />

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-click="showConsole()"><i class="fa fa-terminal"></i> Open Console</button>
      <button type="button" class="btn btn-default" ng-click="hideConsole()"><i class="fa fa-terminal"></i> Hide Console</button>
    </div>

    <hr />

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-click="startBotMatch()"><i class="fa fa-arrow-right"></i> Start Bot Match</button>
      <button type="button" class="btn btn-default" ng-click="startCoopEditing()"><i class="fa fa-arrow-right"></i> Start Coop Editing</button>
      <button type="button" class="btn btn-default" ng-click="quit()"><i class="fa fa-arrow-right"></i> Quit</button>
    </div>

    <div class="btn-group">
      <label class="btn btn-primary" ng-model="fullscreen" uib-btn-radio="'1'" ng-click="toggleFullscreen()">Fullscreen On</label>
      <label class="btn btn-primary" ng-model="fullscreen" uib-btn-radio="'0'" ng-click="toggleFullscreen()">Fullscreen Off</label>
    </div>
-->
