body {
	background-color: transparent;
}

/* The console container element */
#hud-console {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

/*
#hud-console-widget {
  background-color: rgba(0, 0, 0, 0.5);
}
*/

#hud-console-widget pre {
  background-color: rgba(0, 0, 0, 0.5);
}

/* The inner console element. */
.jqconsole {
  padding: 10px;
}

/* The cursor. */
.jqconsole-cursor {
  background-color: rgba(0, 0, 0, 1);
}

/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
  background-color: rgba(0, 0, 0, 0.2);
}

/* The current prompt text color */
.jqconsole-prompt {
  color: #0d0;
}

/* The command history */
.jqconsole-old-prompt {
  color: #0b0;
  font-weight: normal;
}

/* The text color when in input mode. */
.jqconsole-input {
  color: #dd0;
}

/* Previously entered input. */
.jqconsole-old-input {
  color: #bb0;
  font-weight: normal;
}

/* The text color of the output. */
.jqconsole-output {
  color: black;
}
