body {
  background: url('http://sauerbraten.sourceforge.net/newerer/screenshot_2073037.jpg') no-repeat center center fixed;
  background-size: cover;
}

body.mainmenu {
  background: transparent;
}

.inexor-menu-container-centered {
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 80%;
  border: 1px solid rgba(0, 255, 255, 0.3);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
}

.inexor-menu-container-centered .page-header {
  margin: 0px;
  border-bottom: 0px;
}

.inexor-menu-container-centered h1 {
  margin: auto;
  color: white;
  font-size: 5vh;
  text-align: center;
}

.inexor-menu-container-centered .well {
  font-size: 1.5vh;
}

.inexor-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}

.inexor-serverbrowser-table {
  background: #fefefe;
  font-size: 2vh;
  width: 100%;
  max-height: 90%;
  /* height: 90%; */
  overflow-y: scroll;
  
}

.inexor-menu-list.nav-tabs {
  border-bottom: 0px;
}

.inexor-menu-item {
  width: 100%;
  height: 100%;
  margin: auto;
}

.nav li.inexor-menu-item a {
  display: block;
  width: 100%;
  margin: auto;
  font-size: 5vh;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.nav li.inexor-menu-item a:hover {
  margin-top: 6px;
  margin-bottom: 4px;
  color: white;
  background-color: rgba(128, 128, 128, 0.2);
  border: 0px;
}

/* The console container element */
#hud-console {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

/*
#hud-console-widget {
  background-color: rgba(0, 0, 0, 0.5);
}
*/

#hud-console-widget pre {
  background-color: rgba(0, 0, 0, 0.5);
}

/* The inner console element. */
.jqconsole {
  padding: 10px;
}

/* The cursor. */
.jqconsole-cursor {
  background-color: rgba(0, 0, 0, 1);
}

/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
  background-color: rgba(0, 0, 0, 0.2);
}

/* The current prompt text color */
.jqconsole-prompt {
  color: #0d0;
}

/* The command history */
.jqconsole-old-prompt {
  color: #0b0;
  font-weight: normal;
}

/* The text color when in input mode. */
.jqconsole-input {
  color: #dd0;
}

/* Previously entered input. */
.jqconsole-old-input {
  color: #bb0;
  font-weight: normal;
}

/* The text color of the output. */
.jqconsole-output {
  color: black;
}
