@import '../node_modules/bootstrap-styl/bootstrap/index.styl'

h1
  color: #005

// Make sure this is really transparent, so we can see inexor
// behind it
body, html, head
  background: transparent !important
