doctype html
html
  head
    meta(charset="utf-8")
    title Inexor Example site
    link(href="/main.css", rel="stylesheet")

    script(src="/require/requirejs")
    script(src="/main.js")
  body

    wmwindow(title="Hello World Window")
      inx-example(say="Wooord")

    wmwindow(title="Hello World Window")
      inx-example(say="Pupu", bg="green")

    wmwindow(title="Hello World Window")
      inx-example(say="XXX", bg="cyan")
