doctype html
html
  head
    meta(charset="utf-8")
    title Inexor Example site
    link(href="/main.css", rel="stylesheet")

    script(src="/require/requirejs")
    script(src="/main.js")
  body
    inx-example(say="Woord")
