doctype html
html
  head
    meta(charset="utf-8")
    title Inexor Example site
    script(src="/node/requirejs")
    script(src="/main.js")
    link(href="main.css", rel="stylesheet")
  body
    h1 This site is fancy!
